<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container">

		<h1>Nuevo Proveedor</h1>

		<div class="card">
			<div class="card-header">Registro de nuevo Proveedor</div>
			<div class="card-body">

				<form th:action="@{/proveedor/save}" th:object="${proveedor}"
					method="post">
					<div class="form-group">
						<label for="nombre">Nombre :</label> <input type="text"
							class="form-control" placeholder="Nombre del proveedor"
							th:field="*{nombre}">
					</div>
					<div class="form-group">
						<label for="direccion">Direccion :</label> <input type="text"
							class="form-control" placeholder="Direccion"
							th:field="*{direccion}">
					</div>
					<div class="form-group">
						<label for="telefono">Telefono :</label> <input type="text"
							class="form-control" placeholder="Telefono"
							th:field="*{telefono}">
					</div>
					<div class="form-group">
						<label for="ruc">RUC :</label> <input type="text"
							class="form-control" placeholder="RUC"
							th:field="*{ruc}">
					</div>
					<div class="form-group">
						<label for="estado">Estado :</label> <select th:field="*{estado}"
							class="form-control">
							<option th:value="A" th:text="A"></option>
							<option th:value="I" th:text="I"></option>
						</select>
					</div>
					<button type="submit" class="btn btn-primary">
						<i class="fas fa-save"></i> Grabar
					</button>
					<a th:href="@{/proveedor}" class="btn btn-danger"> <i
						class="fas fa-undo"></i> Cancelar
					</a>
				</form>

			</div>
		</div>


	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>